@font-face {
    font-family: "Sigvar Serial";
    src: url('Sigvar-Serial-Regular.ttf') format('truetype');
}
@font-face {
    font-family: "Proxima Nova";
    src: url('proximanova_regular.ttf') format('truetype');
}
body {
    background-color: #000539;
    color: white;
    font-family: 'Proxima Nova', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.about-me-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 40px;
}

.about-title {
    position: absolute;
    top: 30px;
    left: 43%;
    font-size: 48px;
    font-family: 'Sigvar Serial'
}

.image-container {
    border-radius: 20px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.profile-image {
    width: 361px;
    height: 642px;
    object-fit: cover;
}

.info-container {
    max-width: 600px;
}

.name {
    position: absolute;
    top: 100px;
    left: 43%;
    font-size: 40px;
    margin-bottom: 20px;
    font-family: 'Sigvar Serial'
}

.info-list {
    list-style: disc;
    margin-top: 30%;
    margin-left: -13%;
    font-size: 34px;
    line-height: 1.8;
}

.contact-button {
    display: inline-block;
    background-color: #d5b470;
    color: white;
    padding: 15px 40px;
    border-radius: 40px;
    font-size: 24px;
    text-decoration: none;
    margin-top: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    margin-left: 24%;
}

.back_arrow {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 10;
}